.navbar {
    height: 40px;
    background-color: black;
    width: 100%;
    color: white;
}

.logout {
    margin: 0;
    vertical-align: center;
    padding: 0;
    margin-right: 10px;
    width: fit-content;
    cursor: pointer;
    left: 95%;
    position: relative;
}