<div class="back" [ngStyle]="{'background-image': 'url(' + background + ')'}">
    <div class="charts" style="left: 50%;">
        <h1>{{title}}</h1>
        <h2>Submitted by: {{submitter}}</h2>
        <div *ngFor="let question of questions; let i = index">
            <h3>Question {{i+1}}: {{question.title}}</h3>
            <div class="graph">
                <canvas baseChart [data]="question.votes " [labels]="question.answers " [chartType]="pieChartType "></canvas>
            </div>
            <hr *ngIf="i != questions.length - 1">
        </div>
    </div>
</div>