<md-sidenav-layout fullscreen>
    <md-toolbar>
        <button md-button (click)="start.toggle();"><md-icon>menu</md-icon></button>
    </md-toolbar>
    <md-sidenav class="sidebar" #start mode="side">
        <ul class="menuOptions">
            <li *ngIf="isLogged()" (click)="allPolls()">
                All Active Polls
            </li>
            <li *ngIf="isLogged()" (click)="myPolls()">
                My Polls
            </li>
            <li *ngIf="isLogged()" (click)="createPoll()">
                Create Poll
            </li>
            <li (click)="shortcode()">
                Shortcode
            </li>
            <li *ngIf="isLogged()" (click)="logout()">
                Logout
            </li>
            <li *ngIf="isLogged() === false" (click)="login()">
                Login
            </li>
        </ul>
    </md-sidenav>
    <router-outlet></router-outlet>
</md-sidenav-layout>